<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262396420415-49rvsfl11qgeg6lttaqs4368f8du2bpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262396420415-49rvsfl11qgeg6lttaqs4368f8du2bpg</string>
	<key>API_KEY</key>
	<string>AIzaSyAxF2T9m_dARUBzOq9Ni0YIbN42AVu0bHI</string>
	<key>GCM_SENDER_ID</key>
	<string>262396420415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gettimelyapp.mobile.timely</string>
	<key>PROJECT_ID</key>
	<string>timely-ca8ad</string>
	<key>STORAGE_BUCKET</key>
	<string>timely-ca8ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262396420415:ios:a79fa48ab897e7aeb1738a</string>
</dict>
</plist>